[submodule "soc/deps/migen"]
	path = third_party/python/migen
	url = git@github.com:m-labs/migen.git
[submodule "soc/deps/litex"]
	path = third_party/python/litex
	url = git@github.com:enjoy-digital/litex.git
[submodule "soc/deps/litedram"]
	path = third_party/python/litedram
	url = git@github.com:enjoy-digital/litedram.git
[submodule "soc/deps/litex_boards"]
	path = third_party/python/litex_boards
	url = git@github.com:litex-hub/litex-boards.git
[submodule "soc/deps/liteeth"]
	path = third_party/python/liteeth
	url = git@github.com:enjoy-digital/liteeth.git
[submodule "soc/deps/liteiclink"]
	path = third_party/python/liteiclink
	url = git@github.com:enjoy-digital/liteiclink.git
[submodule "soc/deps/pyserial"]
	path = third_party/python/pyserial
	url = git@github.com:pyserial/pyserial.git
[submodule "soc/deps/pythondata_software_compiler_rt"]
	path = third_party/python/pythondata_software_compiler_rt
	url = git@github.com:litex-hub/pythondata-software-compiler_rt.git
[submodule "soc/deps/pythondata_cpu_vexriscv"]
	path = third_party/python/pythondata_cpu_vexriscv
	url = git@github.com:litex-hub/pythondata-cpu-vexriscv.git
[submodule "third_party/python/pyvcd"]
	path = third_party/python/pyvcd
	url = git@github.com:SanDisk-Open-Source/pyvcd.git
[submodule "third_party/python/litescope"]
	path = third_party/python/litescope
	url = git@github.com:enjoy-digital/litescope.git
[submodule "third_party/python/pythondata-misc-tapcfg"]
	path = third_party/python/pythondata-misc-tapcfg
	url = git@github.com:litex-hub/pythondata-misc-tapcfg.git
[submodule "third_party/python/jinja"]
	path = third_party/python/jinja
	url = git@github.com:pallets/jinja.git
[submodule "third_party/python/markupsafe"]
	path = third_party/python/markupsafe
	url = git@github.com:pallets/markupsafe.git
[submodule "third_party/python/litespi"]
	path = third_party/python/litespi
	url = git@github.com:litex-hub/litespi.git
[submodule "third_party/python/litehyperbus"]
	path = third_party/python/litehyperbus
	url = git@github.com:litex-hub/litehyperbus.git
[submodule "third_party/python/litepcie"]
	path = third_party/python/litepcie
	url = git@github.com:enjoy-digital/litepcie.git
[submodule "third_party/python/litevideo"]
	path = third_party/python/litevideo
	url = git@github.com:enjoy-digital/litevideo.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = git@github.com:SymbiFlow/make-env.git
[submodule "third_party/python/pythondata-software-picolibc"]
	path = third_party/python/pythondata-software-picolibc
	url = git@github.com:antmicro/pythondata-software-picolibc
[submodule "third_party/python/meson"]
	path = third_party/python/meson
	url = git@github.com:mesonbuild/meson
[submodule "third_party/python/amaranth"]
	path = third_party/python/amaranth
	url = git@github.com:amaranth-lang/amaranth
